body,
main {
  background-color: #ebebeb;
}

.carrusel {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ofertas {
  margin-top: 1rem;
  border-radius: 1%;


  hr {
    margin: auto;
  }

  &__titulo {
    height: 60px;

    h2 {
      padding: 1rem;
      font-size: 1.5rem;
    }

    hr {
      translate: 0 -15px;
    }
  }

  &__contenedor {
    background-color: white;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      margin-top: 1rem;

      hr {
        display: none;
      }



      article:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      article:nth-child(5) {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      article:nth-child(9) {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      article:nth-child(7) {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      article:nth-child(11) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
  }


  &__articulo {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;



    img {
      width: 177.5px;
      height: 150px;
      object-fit: cover;
    }

    p {
      margin: auto;
    }

    &-descripcion {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin: 0;
      max-height: 2.6em;
      overflow: hidden;
      overflow-wrap: anywhere;
      text-overflow: ellipsis;
    }

    &-precio {
      font-size: 1.3rem;
      padding-top: 0.5rem;
    }

    &-desc {
      color: #00a650;
    }

    .contenedor-descripcion {
      width: 197.5px;
      height: 146px;
    }
  }


}

.mensaje-vacio {
  font-size: 1.2rem !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-redirigir {
  background-color: #4467d6;
  color: white;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 30px;
}

.carrito-item {
  display: grid;
  grid-template-rows: 1fr 50px 20px;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  align-items: center;

  hr {
    align-self: flex-start;
    grid-column: 1/4;
  }
}

.carrito-precio {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: flex-start !important;
  margin: 0;
  padding: 0 !important;


}

.carrito-subtotal {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: flex-end !important;
  margin: 0;
  padding: 0 !important;
  font-size: 1.1rem !important;
}

.resumen-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-carrito {
  font-size: 1.5rem !important;
  color: #4467d6;
}

.unidades-carrito {
  font-size: 1.2rem !important;
}

.envios {
  margin-top: 1rem;
  background-color: white;
  text-align: center;
  height: 30px;
}

.menu {
  margin-top: 2rem;

  @include netbook {
    margin-top: 1rem;
  }

  &__list {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-productos {
      flex-wrap: wrap;
    }


    @include tablet {
      justify-content: space-around;
    }

    @include netbook {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
      display: flex;
      height: 120px;
      margin: 0 auto;
      max-width: 1184px;
      overflow: hidden;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        a {
          width: 70%;
          border: 1px solid rgb(212, 212, 212);
          border-radius: 50px;
        }

        p {
          font-size: 17px;
          align-self: center;
          margin-bottom: 0;
        }
      }
    }

    a,
    button {
      border: none;
      background-color: transparent;

      img {
        width: 90%;
        max-width: 93px;
      }
    }

    p {
      font-size: 0.8rem;
      padding-top: 0.5rem;
      text-align: center;
    }
  }


}

.carrusel {
  margin-top: 1.5rem;

  &__list {
    text-align: center;
    padding: 1rem auto;

    i {
      font-size: 3rem;
      color: #4467d6;
    }
  }
}

.gift {
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
  padding: 1rem 1.5rem;
  color: #fff;

  &__price-container {
    border-left: 2px solid #fff;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    line-height: 1;
    padding-left: 8px;
    position: relative;
    text-align: left;
  }

  &__price-desc {
    font-size: 1.2rem;
  }

  &__price {
    font-size: 1.8rem;
  }
}

.categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding-top: 1rem;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__articulo {
    height: 169px;
    width: 95%;
    background-color: #fff;
    border-bottom: 1px solid #eae6e6;
    border-right: 1px solid #eae6e6;
    border-radius: 2px;

    a {
      width: 100%;

      img {
        max-width: 95px;
      }
    }
  }
}