nav {
  background-color: #1be5be;

  a {
    width: 30%;
    max-width: 115px;
  }
  .btn-busqueda {
    border: none;
    background-color: transparent;
    translate: -60px;

    i {
      font-size: 1rem;
    }
  }
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-nav {
  gap: 1rem;
  @include netbook {
    margin-right: 7rem;
  }
}

.form-pc {
  display: none !important;

  @include netbook {
    display: flex !important;
  }
}

.form-mobile {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  @include netbook {
    display: none !important;
  }
  &__input {
    width: 70%;
  }
}
.nav-link {
  display: inline;
}
